@use '../styles/typography-helpers' as *;

.root {
  --stucki-link-color: var(--stucki-blue);
  --stucki-link-hover-color: var(--stucki-dark-blue);

  @include static-font('buttontext');
  color: var(--stucki-link-color);

  &.small {
    @include static-font('sub-buttontext');
  }

  &.accent {
    --stucki-link-color: var(--stucki-white);
    --stucki-link-hover-color: var(--stucki-light-blue);
  }

  &:hover,
  &:focus,
  &.active {
    color: var(--stucki-link-hover-color);
  }
}

.animatedUnderline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
  }

  &:hover::after,
  &.active::after {
    width: 100%;
    left: 0;
  }
}
