@use '../styles/variables' as *;

.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--stucki-spacing-05);

  & > * {
    flex: 1 1 0;
    min-width: 0;
  }

  @media (max-width: $breakpoint-s) {
    flex-direction: column;

    & > * {
      width: 100%;
      flex: 1 1 auto;
    }
  }
}
