@use '../../visual-components/styles/variables' as *;

.dropZone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  color: #666;
  cursor: pointer;
  transition:
    border-color 0.3s,
    background-color 0.3s;
  font-family: $font;

  &:hover {
    border-color: #888;
    background-color: #f9f9f9;
  }

  &.active {
    border-color: #4a90e2;
    background-color: #e6f0fa;
    color: #333;
  }
}
