@use '../styles/variables' as *;

.root {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: background-color 0.2s ease-in-out;

  &.accent {
    backdrop-filter: blur(10px);
  }

  &:not(.accent) {
    background-color: var(--stucki-blue);
  }

  &.accent.scrolled {
    background-color: var(--stucki-black);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: var(--stucki-spacing-06) 0;
}

.logo {
  height: 60px;

  @media (max-width: $breakpoint-s) {
    height: 40px;
  }
}

.nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: var(--stucki-spacing-07);

  @media (max-width: $breakpoint-m) {
    display: none;
  }
}
