@use '../visual-components/styles/variables' as *;

.root {
  min-width: 100%;
  min-height: 100vh;
  background-image: url('./hero-image.jpg');
  background-size: cover;
}

.coverImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  --stucki-hero-font-size: 90px;
  display: flex;
  align-items: end;
  flex-direction: column;
  text-align: right;
  padding: 100px 0;

  @media (max-width: $breakpoint-s) {
    --stucki-hero-font-size: 50px;
  }
}

.question {
  font-family: var(--font-merriweather), serif;
  font-size: var(--stucki-hero-font-size);
  color: var(--stucki-white);
  border-radius: 22px;
  border: 5px solid var(--stucki-white);
  padding: var(--stucki-spacing-05) var(--stucki-spacing-07);
  transform: translate3d(-100px, 0, 0);
}

.answer {
  font-family: var(--font-merriweather), serif;
  font-size: var(--stucki-hero-font-size);
  color: var(--stucki-blue);
  border-radius: 22px;
  background-color: var(--stucki-white);
  padding: var(--stucki-spacing-05) var(--stucki-spacing-07);
  transform: translate3d(0, -30px, 0);
}

.buttonContainer {
  padding-top: var(--stucki-spacing-06);
  display: flex;
  gap: var(--stucki-spacing-05);

  @media (max-width: $breakpoint-s) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.teaser {
  background-color: var(--stucki-blue);
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  flex-wrap: wrap;
  height: 250px;
  width: 250px;
  rotate: -20deg;
  position: absolute;
  transform: translateY(-120%) translateX(100px);

  .teaserText {
    text-align: center;
    color: var(--stucki-white);
    font: var(--font-merriweather), serif;
    font-size: 42px;
    font-weight: 700;
  }

  @media (max-width: 800px) {
    position: relative;
    transform: translateY(0) translateX(0);
    margin-bottom: var(--stucki-spacing-07);
  }
}
