.root {
  & > div:first-child {
    margin-bottom: var(--stucki-spacing-07);
  }

  & > div {
    margin-bottom: var(--stucki-spacing-06);
  }

  & > div:last-child {
    margin-bottom: var(--stucki-spacing-08);
  }
}
