// This file contains global custom properties which are re-used in multiple modules

:root {
  --stucki-spacing-01: 2px;
  --stucki-spacing-02: 4px;
  --stucki-spacing-03: 8px;
  --stucki-spacing-04: 12px;
  --stucki-spacing-05: 16px;
  --stucki-spacing-06: 24px;
  --stucki-spacing-07: 32px;
  --stucki-spacing-08: 48px;
  --stucki-spacing-09: 64px;
  --stucki-spacing-10: 80px;

  --stucki-blue: #2b64ad;
  --stucki-mid-blue: #4a90e2;
  --stucki-light-blue: #f3f8ff;
  --stucki-white: #ffffff;
  --stucki-light-grey: #d1d1d6;
  --stucki-grey: #6e6e7d;
  --stucki-black: #18181b;

  --stucki-radius-m: 5px;
  --stucki-radius-l: 9px;

  --stucki-success-bg: #e6f9ed;
  --stucki-success-border: #2ecc40;
  --stucki-success-text: #217a36;

  --stucki-warning-bg: #fffbe6;
  --stucki-warning-border: #ffb700;
  --stucki-warning-text: #a67c00;

  --stucki-error-bg: #ffeaea;
  --stucki-error-border: #ff3b30;
  --stucki-error-text: #a80000;

  --stucki-animation-default-duration: 0.2s;
  --stucki-animation-default-easing: ease-in-out;
}
