// This file contains global custom properties which are re-used in multiple modules

:root {
  --stucki-spacing-01: 2px;
  --stucki-spacing-02: 4px;
  --stucki-spacing-03: 8px;
  --stucki-spacing-04: 12px;
  --stucki-spacing-05: 16px;
  --stucki-spacing-06: 24px;
  --stucki-spacing-07: 32px;
  --stucki-spacing-08: 48px;
  --stucki-spacing-09: 64px;
  --stucki-spacing-10: 80px;

  --stucki-blue: #2b64ad;
  --stucki-light-blue: #eaf3ff;
  --stucki-white: #ffffff;
  --stucki-black: #000000;

  --stucki-radius-m: 5px;
  --stucki-radius-l: 9px;
}
