<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}.html -f
    RewriteRule ^(.*)$ %{REQUEST_URI}.html [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}.html !-f
    RewriteCond %{DOCUMENT_ROOT}/404.html -f
    RewriteRule ^(.*)$ /404.html [L,R=404]
</IfModule>