.root {
  position: relative;

  > input {
    display: none;
  }

  > input:checked + .label::before {
    box-shadow: inset 0 0 0 8px var(--stucki-blue);
    border: 0;
  }
}

.label {
  display: flex;
  align-items: center;
  border: 1px solid var(--stucki-blue);
  border-radius: var(--stucki-radius-m);
  padding: var(--stucki-spacing-05);
  cursor: pointer;
  background-color: var(--stucki-light-blue);
  transition: background-color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing),
    color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing);

  &:hover {
    background-color: var(--stucki-blue);
    color: var(--stucki-white);

    .subLabel {
      color: var(--stucki-white);
    }
  }

  &::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    box-shadow: inset 0 0 0 1px var(--stucki-blue);
    border-radius: 50%;
    margin-right: var(--stucki-spacing-05);
    background-color: var(--stucki-white);
    transition: box-shadow var(--stucki-animation-default-duration) var(--stucki-animation-default-easing);
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--stucki-spacing-04);
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
}

.subLabel {
  color: var(--stucki-grey);
  transition: color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing);
}
