.root {
  position: relative;
}

.scrollContainer {
  display: flex;
  gap: var(--stucki-spacing-06);
  align-items: stretch;
  overflow-x: scroll;
  scrollbar-width: none;
  mask-image: linear-gradient(to right, black 0%, black calc(100% - 70px), transparent 100%);
  padding-right: 70px;

  & > * {
    flex: 0 0 min(80vw, 480px);
  }
}

.scrollRight {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  font-family: sans-serif;
  color: var(--stucki-blue);
  background: var(--stucki-white);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
