@use '../styles/typography-helpers' as *;

.root {
  --stucki-button-bg-color: var(--stucki-blue);
  --stucki-button-text-color: var(--stucki-white);
  --stucki-button-border-color: var(--stucki-blue);
  --stucki-button-hover-bg-color: var(--stucki-white);
  --stucki-button-hover-text-color: var(--stucki-blue);
  --stucki-button-hover-border-color: var(--stucki-blue);

  @include static-font('buttontext');
  color: var(--stucki-button-text-color);
  background-color: var(--stucki-button-bg-color);
  border: 2px solid var(--stucki-button-border-color);
  border-radius: 10px;
  padding: var(--stucki-spacing-05) var(--stucki-spacing-07);
  display: inline-block;

  transition: background-color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing),
    border-color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing),
    color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing);

  &.secondary {
    --stucki-button-bg-color: transparent;
    --stucki-button-text-color: var(--stucki-blue);
    --stucki-button-border-color: var(--stucki-blue);
  }

  &.accent {
    --stucki-button-bg-color: var(--stucki-white);
    --stucki-button-text-color: var(--stucki-blue);
    --stucki-button-border-color: var(--stucki-white);
    --stucki-button-hover-bg-color: var(--stucki-blue);
    --stucki-button-hover-text-color: var(--stucki-white);
  }

  &.accent.secondary {
    --stucki-button-bg-color: transparent;
    --stucki-button-text-color: var(--stucki-white);
    --stucki-button-border-color: var(--stucki-white);
    --stucki-button-hover-border-color: var(--stucki-white);
  }

  &:hover,
  &:focus {
    color: var(--stucki-button-hover-text-color);
    background-color: var(--stucki-button-hover-bg-color);
    border-color: var(--stucki-button-hover-border-color);
  }

  &:disabled {
    --stucki-button-bg-color: transparent;
    --stucki-button-border-color: var(--stucki-grey);
    --stucki-button-text-color: var(--stucki-grey);
    pointer-events: none;
    cursor: not-allowed;
  }
}
