@use '../styles/typography-helpers' as *;

.root {
  --stucki-button-bg-color: var(--stucki-blue);
  --stucki-button-text-color: var(--stucki-white);
  --stucki-button-border-color: var(--stucki-blue);
  --stucki-button-hover-bg-color: var(--stucki-white);
  --stucki-button-hover-text-color: var(--stucki-blue);
  --stucki-button-hover-border-color: var(--stucki-blue);

  @include static-font('buttontext');
  color: var(--stucki-button-text-color);
  background-color: var(--stucki-button-bg-color);
  border: 2px solid var(--stucki-button-border-color);
  border-radius: 10px;
  padding: var(--stucki-spacing-05) var(--stucki-spacing-07);
  display: inline-block;

  transition: background-color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing),
    border-color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing),
    color var(--stucki-animation-default-duration) var(--stucki-animation-default-easing);

  &.secondary {
    --stucki-button-bg-color: transparent;
    --stucki-button-text-color: var(--stucki-blue);
    --stucki-button-border-color: var(--stucki-blue);
  }

  &.accent {
    --stucki-button-bg-color: var(--stucki-white);
    --stucki-button-text-color: var(--stucki-blue);
    --stucki-button-border-color: var(--stucki-white);
    --stucki-button-hover-bg-color: var(--stucki-blue);
    --stucki-button-hover-text-color: var(--stucki-white);
  }

  &.accent.secondary {
    --stucki-button-bg-color: transparent;
    --stucki-button-text-color: var(--stucki-white);
    --stucki-button-border-color: var(--stucki-white);
    --stucki-button-hover-border-color: var(--stucki-white);
  }

  &:hover:not(.loading),
  &:focus:not(.loading) {
    color: var(--stucki-button-hover-text-color);
    background-color: var(--stucki-button-hover-bg-color);
    border-color: var(--stucki-button-hover-border-color);
  }

  &.loading {
    pointer-events: none;
    cursor: wait;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--stucki-spacing-03);
    color: var(--stucki-blue);
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.2em;
      height: 1.2em;
      border: 2px solid var(--stucki-white);
      border-top: 2px solid var(--stucki-blue);
      border-radius: 50%;
      animation: button-spinner-spin 0.7s linear infinite;
      background: none;
      z-index: 2;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &:disabled:not(.loading) {
    --stucki-button-bg-color: transparent;
    --stucki-button-border-color: var(--stucki-grey);
    --stucki-button-text-color: var(--stucki-grey);
    pointer-events: none;
    cursor: not-allowed;
  }
}

@keyframes button-spinner-spin {
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
}
