@use '../styles/variables' as *;

.root {
  display: flex;
  justify-content: space-between;
  gap: var(--stucki-spacing-06);
  align-items: center;

  @media (max-width: $breakpoint-s) {
    flex-direction: column;
  }

  .action {
    flex: 0 0 auto;
  }
}

.multiActionContainer {
  display: flex;
  gap: var(--stucki-spacing-07);
  align-items: center;

  @media (max-width: $breakpoint-m) {
    gap: var(--stucki-spacing-05);
    flex-direction: column;
  }
}
