.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header {
  padding: var(--stucki-spacing-08) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: var(--stucki-spacing-08) 0;
  background-color: var(--stucki-grey);
  color: var(--stucki-white);
}
