@use '../../visual-components/styles/variables' as *;

.root {
  display: flex;
  gap: var(--stucki-spacing-06);
  padding: var(--stucki-spacing-06);
  background-color: #ffe5e5;
  border-radius: var(--stucki-radius-l);
}

.loggedIn {
  background-color: var(--stucki-light-blue);
}

.label {
  display: flex;
  flex-direction: column;
  gap: var(--stucki-spacing-03);
}

.input {
  font-family: $font;
}

.button {
  padding: var(--stucki-spacing-03) var(--stucki-spacing-05);
  border: none;
  border-radius: var(--stucki-radius-m);
  font-size: 24px;
  background-color: #ffb3b3;

  &:not(:disabled) {
    background-color: var(--stucki-blue);
  }
}
