$step-gap: var(--stucki-spacing-05);
$step-size: 42px;

.stepperList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stepperListItem {
  display: flex;
  align-items: center;
  position: relative;
  min-height: var(--stucki-spacing-06);
  margin-bottom: $step-gap;
}

.stepperIndicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $step-size;
  height: $step-size;
  margin-right: var(--stucki-spacing-04);
  position: relative;
  flex-shrink: 0;
}

.stepperConnector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: var(--stucki-spacing-01);
  height: calc($step-gap + ($step-size));
  background: var(--stucki-light-grey);
}

.stepperIndicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: $step-size;
  height: $step-size;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.stepperCompletedCircle {
  color: white;
  background-color: var(--stucki-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepperActiveCircle {
  width: var(--stucki-spacing-05);
  height: var(--stucki-spacing-05);
  border-radius: 50%;
  background: var(--stucki-blue);
}

.stepperActiveInnerCircle {
  --stucki-circle-size: 40%;
  width: var(--stucki-circle-size);
  height: var(--stucki-circle-size);
  border-radius: 50%;
  background: var(--stucki-white);
}

.stepperInactiveDot {
  background: transparent;
}

.stepperInactiveInnerCircle {
  --stucki-circle-size: 50%;
  width: var(--stucki-circle-size);
  height: var(--stucki-circle-size);
  background: var(--stucki-light-grey);
  border-radius: 50%;
}

.stepperButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: var(--stucki-spacing-03);
  border-radius: var(--stucki-radius-m);
  color: var(--stucki-black);
  text-align: left;
}

.stepperButton[disabled],
.stepperButton[aria-disabled='true'] {
  cursor: default;
}

.stepperButton[aria-current='step'] {
  color: var(--stucki-blue);
  font-weight: bold;
}
